[db1]
type=server
address=db1
port=3306

[db1s]
type=server
address=db1s
port=3306


[db2]
type=server
address=db2
port=3306

[db2s]
type=server
address=db2s
port=3306


[db3]
type=server
address=db3
port=3306

[db3s]
type=server
address=db3s
port=3306


[monitor1]
type=monitor
module=mariadbmon
servers=db1,db1s
user=root
password=pass
auto_failover=false
auto_rejoin=false


[monitor2]
type=monitor
module=mariadbmon
servers=db2,db2s
user=root
password=pass
auto_failover=false
auto_rejoin=false


[monitor3]
type=monitor
module=mariadbmon
servers=db3,db3s
user=root
password=pass
auto_failover=false
auto_rejoin=false


[service]
type=service
router=schemarouter
servers=db1,db2,db3
user=root
password=pass
enable_root_user=true


[listener]
type=listener
service=service
protocol=MariaDBClient
address=0.0.0.0
port=3306
