# https://confluence.atlassian.com/adminjiraserver/connecting-jira-applications-to-mysql-5-7-966063305.html

[mysqld]
default-storage-engine = INNODB
innodb_default_row_format = DYNAMIC
innodb_large_prefix = ON
innodb_file_format = Barracuda
innodb_log_file_size = 2G
sql_mode = NO_AUTO_VALUE_ON_ZERO

